name: 'Sync COSMO Alpaca Secrets'

on:
  workflow_dispatch:
    inputs:
      mode:
        description: GetAndUpdate searches AL-Go settings files and backend, Update only queries backend
        required: false
        type: choice
        options:
          - GetAndUpdate
          - Update
        default: 'GetAndUpdate'
  push:
    paths:
      - '.github/AL-Go-Settings.json'
      - '.github/AL-Go-TemplateProjectSettings.doNotEdit.json'
      - '.github/AL-Go-TemplateRepoSettings.doNotEdit.json'
      - '.github/*.settings.json'
      - '.AL-Go/*.settings.json'
      - '**/.AL-Go/*.settings.json'
      - '.AL-Go/settings.json'
      - '**/.AL-Go/settings.json'
  schedule:
    - cron: '0 12 * * *'

defaults:
  run:
    shell: pwsh

env:
  ALGoOrgSettings: ${{ vars.ALGoOrgSettings }}
  ALGoRepoSettings: ${{ vars.ALGoRepoSettings }}
  ALGoEnvSettings: ${{ vars.ALGoEnvSettings }}

jobs:
  Sync: 
    name: "Sync Alpaca Secrets"
    secrets: inherit
    uses: ./.github/workflows/_AlpacaSyncSecrets.yaml
    with:
      backendUrl: ${{ vars.ALPACA_BACKEND_URL }}
      mode: ${{ (github.event_name == 'schedule' && 'Update') || (github.event_name == 'push' && 'GetAndUpdate') || inputs.mode }}
