name: 'Sync COSMO Alpaca Secrets'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

defaults:
  run:
    shell: pwsh

env:
  ALGoOrgSettings: ${{ vars.ALGoOrgSettings }}
  ALGoRepoSettings: ${{ vars.ALGoRepoSettings }}

jobs:
  Sync: 
    name: "Sync Alpaca Secrets"
    secrets: inherit
    uses: ./.github/workflows/_AlpacaSyncSecrets.yaml
    with:
      backendUrl: ${{ vars.ALPACA_BACKEND_URL }}
